@import "node_modules/ol/ol.css";

:root {
  --fg-gradient: -80deg, #12c2e9 -10%, #c471ed 20%, #f64f59;
  --bg-gradient: to top, #ece9e6, #ffffff;

}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.is-large > .fa  {
  font-size: 3rem;
}

section {
  height: 100%;
  /* aspect-ratio: 9/16; */
  margin: auto;
}

.tile.is-parent {
  padding: 0 !important; 
}
.tile {

  border-radius: 0 !important;
}
body {

  background-color: black;

}

.tabs.is-toggle a {
  border-color: #efefef !important;
  /* border-width: 0.15rem 0 0 0 !important; */
  border-radius: 0 !important;
}

.tabs.is-toggle li.is-active a {
  border-color: #e7e7e7 !important;
  /* border-width: 0.15rem 0 0 0 !important; */
  background-color: rgba(0, 0, 0, 0) !important;
}

.tabs {
  background: linear-gradient(0deg, rgb(214, 213, 209) 0%, hsla(60, 100%, 97%, 1) 100%) !important;
}

.hero.is-light .tabs.is-toggle a:hover {
  background-color: rgba(140, 140, 140, 0.1) !important;
  border-color: #e7e7e7 !important;
  /* border-width: 0.2rem 0 0 0 !important; */
}

.gradient-container {
  padding: 0.10rem 0 0 0 !important;
  background: linear-gradient(var(--fg-gradient)) !important;
}

.search {
  margin: 0 0 0 0;
  margin-bottom: 0 !important;
  position: relative;

}

.button {
  background: linear-gradient(var(--fg-gradient)) ;
  background-repeat: no-repeat !important
  ;
  background: -moz-linear-gradient(var(--fg-gradient)) ;
  background: -webkit-linear-gradient(var(--fg-gradient)) ;
  /* background-size: 100% !important; */
  color: whitesmoke;
  border-width: 0;
  background-size: 600% 100% !important;

  moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* .button:hover {
  color: gray;
  background-image: linear-gradient(rgba(0, 0, 0, 0.307) 0 0);
} */

.search>.control>* {
  border-radius: 0;
  border-top-width: 0;
  border-right-width: 0;
}

.tab-icon>i,
h1 {

  background-size: 600% 100% !important;

  moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: linear-gradient(var(--fg-gradient));
  background: -moz-linear-gradient(var(--fg-gradient));
  background: -webkit-linear-gradient(var(--fg-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  background: linear-gradient(var(--bg-gradient)) !important;
  background: -moz-linear-gradient(var(--bg-gradient));
  background: -webkit-linear-gradient(var(--bg-gradient));
}

#tab-1-content {
  height: 100%;
}

.result {
  border-radius: 0;
  margin: 0;
  margin-bottom: 0 !important;
}

.results {
  height: 84.1vh;
  overflow: auto;
  overscroll-behavior-y: contain;
}

.add-friend {
  /* position: absolute;  */
  float: right;
  bottom: 0.35rem;
    right: -0.35rem;
}

#map {
  position: absolute;
  bottom: 4.75rem ;
  width: 100%;
  height: calc(100% - 4.75rem);
}

/* .select, select.select {
  width: 100%;
  max-width: 200%;

} */

.select select {
  max-width: 100%;
  width: 200%
}

.select select, select .select:hover {
  border-color: transparent !important;
background-color: rgba(0, 0, 0, 0) !important;

}

select .select option:checked {
background-color: rgba(0, 116, 116, 0.1) !important;
}

.select:focus, .select:active  {
  outline: 0 !important;
  box-shadow: none !important;
}

.button:hover , .tab-icon>i:hover {
  color: whitesmoke;
  background-position: 100% 0;
  moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#profile-picture {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  height: 60%;
  width: 60%;
  cursor: copy;
}

/* #profile-photo {
  width: auto;
  aspect-ratio: 1/1;
} */

.text-c {
  /* margin-top: 1rem; */
  text-align: center;
}


